SECRET_KEY=
SESSION_COOKIE_NAME=

DATABASE_HOST=
DATABASE_PORT=
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=

# Sentry DSN for production environment
SENTRY_FLASK_DSN=

# Scheduler settings
SCHEDULER_ENABLED=true