SECRET_KEY=
SESSION_COOKIE_NAME=

DATABASE_HOST=
DATABASE_PORT=
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=

# Sentry DSN for production environment
SENTRY_FLASK_DSN=

# Scheduler settings
SCHEDULER_ENABLED=true

# Users per page in rating and users pages
USERS_PER_PAGE=100

# Default rating season for redirect
DEFAULT_SEASON=autumn_2025

# Email settings
MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=