{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            <a href="{{ url_for('users.add_role') }}" class="btn btn-primary">Добавить роль</a>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Описание</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in roles %}
                    <tr>
                        <td scope="row">{{ role.id }}</td>
                        <td>{{ role.name }}</td>
                        <td>{{ role.description }}</td>
                        <td class="text-end"><a href="{{ url_for('users.edit_role', role_id=role.id) }}" class="btn btn-primary btn-sm">Изменить</a></td>
                    </tr>
                    {%endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}