{% extends "base.html" %}
{% from "_delete_confirmation_modal.html" import delete_confirmation_modal %}

{% block content %}
<form action="" method="post" novalidate class="container my-4">
    {{ form.hidden_tag() }}
    <div class="row mb-3">
        <div class="col">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{ fields.text(form.name, true, false) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ fields.text(form.description, true, false) }}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-between flex-wrap gap-2">
            <div>
                <a href="{{ url_for('users.get_roles') }}" class="btn btn-secondary btn-sm me-2">Отменить</a>
                {{ form.submit(class="btn btn-purple btn-sm") }}
            </div>
            {% if action == 'edit' %}
            <div>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить</button>
            </div>
            {% endif %}
        </div>
    </div>
</form>

{% if action == 'edit' %}
{{ delete_confirmation_modal('Вы уверены, что хотите удалить эту роль? Это действие нельзя отменить.', url_for('users.delete_role', role_id=role.id)) }}
{% endif %}

{% endblock %}