{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <div class="row mb-3">
        <div class="col">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Логин</th>
                            <th scope="col">Email</th>
                            <th scope="col">Телефон</th>
                            <th scope="col">Пол</th>
                            <th scope="col">Роли</th>
                            <th scope="col">Дата регистрации</th>
                            <th scope="col">Активен</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td scope="row"><a href="{{ url_for('user.profile', username=user.username) }}">{{ user.name }}</a></td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ 'Мужской' if user.gender == 'male' else 'Женский' if user.gender =='female' else '' }}</td>
                            <td>
                                {% for role in user.roles %}
                                {{ role.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ user.created_at }}</td>
                            <td class="{{ 'text-danger' if not user.active }}">{{ 'Да' if user.active else 'Нет' }}</td>
                            <td class="text-end">
                                {% if user.has_any_role(['superadmin', 'admin']) and current_user.has_role('superadmin') %}
                                <a href="{{ url_for('users.edit_user', user_id=user.id) }}" class="btn btn-primary btn-sm">Изменить</a>
                                {% elif not user.has_any_role(['superadmin', 'admin']) %}
                                <a href="{{ url_for('users.edit_user', user_id=user.id) }}" class="btn btn-primary btn-sm">Изменить</a>
                                {% endif %}
                            </td>
                            <td>
                                {% for template in score_templates %}
                                <a href="{{ url_for('rating.apply_score_template', user_id=user.id, template_id=template.id) }}" class="btn btn-sm btn-success">{{ template.name }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}