{% extends "base.html" %}

{% block content %}


<div class="container my-4">
    <div class="row mb-3">
        <div class="col">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <!-- filters -->
    <form action="" method="get" novalidate class="row g-2 mb-3 align-items-end">
        <div class="col-md-1 col-sm-4">
            <!-- <label for="{{ form.id.id }}" class="form-label small">{{ form.id.label.text }}</label> -->
            {{ form.id(class="form-control form-control-sm", placeholder=form.id.label.text) }}
        </div>
        <div class="col-md-3 col-sm-4">
            {{ form.name(class="form-control form-control-sm", placeholder=form.name.label.text) }}
        </div>
        <div class="col-md-2 col-sm-4">
            {{ form.username(class="form-control form-control-sm", placeholder=form.username.label.text) }}
        </div>
        <div class="col-md-3 col-sm-4">
            {{ form.email(class="form-control form-control-sm", placeholder=form.email.label.text) }}
        </div>
        <div class="col-md-auto mt-2">
            <div class="d-flex gap-2">
                <a href="{{ url_for('users.get_users') }}" class="btn btn-outline-purple btn-sm">Сбросить</a>
                {{ form.submit(class="btn btn-purple btn-sm") }}
            </div>
        </div>
    </form>
    <!-- /filters -->
    <!-- pagination -->
    {% if pagination.has_prev or pagination.has_next %}
    <div class="row mt-3">
        <div class="col">
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {{ 'disabled' if not pagination.has_prev }}">
                <a class="page-link" href="{{ url_for('users.get_users', page=pagination.prev_num, **filters) }}">Назад</a>
                </li>
                <li class="page-item {{ 'disabled' if not pagination.has_next }}">
                <a class="page-link" href="{{ url_for('users.get_users', page=pagination.next_num, **filters) }}">Вперед</a>
                </li>
            </ul>
            </nav>
        </div>
    </div>
    {% endif %}
    <!-- /pagination -->
    <div class="row">
        <div class="col">

            <div class="table-responsive">
                <table class="table table-sm table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Логин</th>
                            <th scope="col">Email</th>
                            <th scope="col">Телефон</th>
                            <th scope="col">Пол</th>
                            <th scope="col">Роли</th>
                            <th scope="col">Дата регистрации</th>
                            <th scope="col">Активен</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in pagination.items %}
                        <tr>
                            <td scope="row">{{ user.id }}</td>
                            <td><a href="{{ url_for('user.profile', username=user.username) }}">{{ user.name }}</a></td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ 'Мужской' if user.gender == 'male' else 'Женский' if user.gender =='female' else '' }}</td>
                            <td>
                                {% for role in user.roles %}
                                {{ role.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ moment(user.created_at).format('lll') }}</td>
                            <td class="{{ 'text-danger' if not user.active }}">{{ 'Да' if user.active else 'Нет' }}</td>
                            <td class="text-end">
                                {% if user.has_any_role(['superadmin', 'admin']) and current_user.has_role('superadmin') %}
                                <a href="{{ url_for('users.edit_user', user_id=user.id) }}" class="btn btn-purple btn-sm">Изменить</a>
                                {% elif not user.has_any_role(['superadmin', 'admin']) %}
                                <a href="{{ url_for('users.edit_user', user_id=user.id) }}" class="btn btn-purple btn-sm">Изменить</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}