{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <div class="row mb-3">
        <div class="col">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if not gender }}" {{ 'aria-current=page' if not gender }} href="{{ url_for('rating.index') }}">Общий</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if gender == 'male' }}" {{ 'aria-current=page' if gender == 'male' }} href="{{ url_for('rating.index', gender='male') }}">Мужской</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if gender == 'female' }}" {{ 'aria-current=page' if gender == 'female' }} href="{{ url_for('rating.index', gender='female') }}">Женский</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">

            {% if players %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10px;">№</th>
                        <th scope="col" style="width: 60px;"></th>
                        <th scope="col">Игрок</th>
                        <th scope="col" class="text-end">Очки</th>
                        {% if not current_user.is_anonymous and current_user.has_any_role(['admin', 'superadmin']) %}
                        <th scope="col" class="col-2"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr class="{{ 'table-warning' if player.id == current_user.id }}">
                        <th scope="row">{{ loop.index }}</th>
                        {% if player.name == 'Mary Welch' or player.name == 'Shaun Fields' %}
                        <td class="text-success"><i class="bi bi-arrow-up"></i>1</td>
                        {% elif player.name == 'Johnny Cooper' %}
                        <td></td>
                        {% else %}
                        <td class="text-danger"><i class="bi bi-arrow-down"></i>1</td>
                        {% endif %}
                        <td>{{ player.name }}</td>
                        <td class="text-end">{{ player.total_score }}</td>
                        {% if not current_user.is_anonymous and current_user.has_any_role(['admin', 'superadmin']) %}
                        <td>
                            <a href="{{ url_for('rating.add_score', user_id=player.id, score=10, comment='Добавлено 10 очков администратором ' + current_user.email) }}" class="btn btn-sm btn-success">+10</a>
                            <a href="{{ url_for('rating.add_score', user_id=player.id, score=20, comment='Добавлено 20 очков администратором ' + current_user.email) }}" class="btn btn-sm btn-success">+20</a>
                            <a href="{{ url_for('rating.add_score', user_id=player.id, score=30, comment='Добавлено 30 очков администратором ' + current_user.email) }}" class="btn btn-sm btn-success">+30</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}