{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <div class="row mb-3">
        <div class="col">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if not gender }}" {{ 'aria-current=page' if not gender }} href="{{ url_for('rating.index') }}">Общий</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if gender == 'male' }}" {{ 'aria-current=page' if gender == 'male' }} href="{{ url_for('rating.index', gender='male') }}">Мужской</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if gender == 'female' }}" {{ 'aria-current=page' if gender == 'female' }} href="{{ url_for('rating.index', gender='female') }}">Женский</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">

            {% if players %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10px;">№</th>
                        <th scope="col" style="width: 60px;"></th>
                        <th scope="col">Игрок</th>
                        <th scope="col" class="text-end">Очки</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr class="{{ 'table-warning' if player.id == current_user.id }}">
                        <th scope="row">{{ player.rank }}</th>
                        <td>
                            {% if player.rank_change is not none %}
                                {% if player.rank_change > 0 %}
                                    <span class="text-success"><i class="bi bi-arrow-up"></i>{{ player.rank_change }}</span>
                                {% elif player.rank_change < 0 %}
                                    <span class="text-danger"><i class="bi bi-arrow-down"></i>{{ player.rank_change|abs }}</span>
                                {% else %}
                                    <span class="text-muted"></span>
                                {% endif %}
                            {% else %}
                                <span class="text-muted">–</span>
                            {% endif %}
                        </td>
                        <td>{{ player.user.name }}</td>
                        <td class="text-end">{{ player.user.total_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}