{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate class="container my-4">
    {{ form.hidden_tag() }}
    <div class="row mb-3">
        <div class="col">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{ fields.text(form.username, true, false) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{ fields.text(form.email, true, false) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{ fields.text(form.name, true, false) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{ fields.text(form.phone, true, false) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{ fields.select(form.gender, true) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {{ fields.textarea(form.about_me, true, rows=4) }}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <a href="{{ url_for('user.my_profile') }}" class="btn btn-secondary">Отменить</a>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
{% endblock %}