{% extends "base.html" %}

{% block content %}
<div class="container my-4">
    <div class="row mb-3">
        <div class="col">
            <h1 class="text-center">{{ title }}</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-auto">
            <img src="{{ user.get_avatar_url('medium') }}"
                         alt="{{ user.name }}"
                         class="rounded-circle mb-3"
                         style="width: 200px; height: 200px; object-fit: cover;">
        </div>
        <div class="col">
            {% if user == current_user %}
            <a href="{{ url_for('user.edit_profile') }}" class="btn btn-primary">Редактировать профиль</a><br><br>
            {% endif %}
            <p><strong>Логин</strong>: {{ user.username }}<br>
            <strong>Email</strong>: {{ user.email }}<br>
            <strong>Имя</strong>: {{ user.name }}<br>
            <strong>Пол</strong>: {{ 'Мужской' if user.gender == 'male' else 'Женский' if user.gender == 'female' else '' }}<br>
            <strong>Телефон</strong>: {{ user.phone }}</p>
            {% if user.about_me %}<p><strong>О себе</strong>: {{ user.about_me }}</p>{% endif %}

            <p><strong>Дата регистрации</strong>: {{ user.created_at }}<br>
            {% if user.last_seen %}<strong>Последний визит</strong>: {{ user.last_seen }}{% endif %}</p>
        </div>
    </div>

    {% if current_user.has_any_role(['superadmin', 'admin']) %}
    <form id="scoreForm" method="POST" action="{{ url_for('rating.apply_score_template') }}">
        {{ apply_score_form.hidden_tag() }}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="template_id" id="templateId">
        <div class="d-flex flex-wrap gap-2 mb-3">
            {% for template in score_templates %}
            <button type="submit" class="btn btn-success d-flex align-items-center gap-2" onclick="submitTemplate({{ template.id }})">
                <i class="bi bi-plus-circle"></i>
                <span>{{ template.name }}</span>
                <span class="badge bg-light text-dark">{{ template.score }} очков</span>
            </button>
            {% endfor %}
        </div>
    </form>
    {% endif %}

    {% if scores %}
    {% if user == current_user or current_user.has_any_role(['admin', 'superadmin']) %}
    <div class="row mb-2">
        <div class="col">
            <h2 class="text-center mb-2">Последние 10 начислений</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="col-1">Дата</th>
                            <th scope="col">Комментарий</th>
                            <th scope="col" class="text-end">Очки</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in scores %}
                        <tr>
                            <td scope="row">{{ score.created_at.strftime('%Y-%m-%d') }}</td>
                            <td>{{ score.comment }}</td>
                            <td class="text-end">{{ score.score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script>
    function submitTemplate(templateId) {
        document.getElementById('templateId').value = templateId;
        document.getElementById('scoreForm').submit();
    }
</script>
{% endblock %}