{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">{{ title }}</h4>

                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ fields.text(form.email, false, false) }}
                        </div>
                        <div class="mb-3">
                            {{ fields.text(form.password, false, false) }}
                        </div>
                        <div class="mb-3">
                            {{ fields.text(form.password2, false, false) }}
                        </div>
                        <div class="mb-3">
                            {{ fields.text(form.name, false, false) }}
                        </div>
                        <div class="mb-3">
                            {{ fields.text(form.phone, false, false) }}
                        </div>
                        <div class="mb-3">
                            {{ fields.select(form.gender, false) }}
                        </div>
                        <div class="d-grid gap-2">
                            {{ form.submit(class="btn btn-purple") }}
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}