{% import '_fields_bootstrap_macros.html' as fields %}

<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title>{{ title }} - Мета Падел Гродно</title>
        {% else %}
        <title>Мета Падел Гродно</title>
        {% endif %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/shortcut.svg') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&subset=latin,cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg mb-4">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('rating.index') }}">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Meta Padel" width="80" height="40">
                <!-- <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Meta Padel" width="75" height="40"> -->
                </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="{{ url_for('rating.index') }}" class="nav-link {{ 'active' if request.endpoint == 'rating.index' }}" {{ 'aria-current=page' if request.endpoint == 'rating.index' }}>Рейтинг</a></li>
                    {% if not current_user.is_anonymous and current_user.has_any_role(['admin', 'superadmin']) %}
                    <li class="nav-item"><a href="{{ url_for('users.get_users') }}" class="nav-link {{ 'active' if request.endpoint == 'users.get_users' }}" {{ 'aria-current=page' if request.endpoint == 'users.get_users' }}>Пользователи</a></li>
                    {% endif %}
                    {% if not current_user.is_anonymous and current_user.has_any_role(['superadmin']) %}
                    <li class="nav-item"><a href="{{ url_for('users.get_roles') }}" class="nav-link {{ 'active' if request.endpoint == 'users.get_roles' }}" {{ 'aria-current=page' if request.endpoint == 'users.get_roles' }}>Роли</a></li>
                    <li class="nav-item"><a href="{{ url_for('rating.score_templates') }}" class="nav-link {{ 'active' if request.endpoint == 'rating.score_templates' }}" {{ 'aria-current=page' if request.endpoint == 'rating.score_templates' }}>Шаблоны очков</a></li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item"><a href="{{ url_for('user.login') }}" class="nav-link">Вход</a></li>
                    {% else %}
                    <!-- Desktop dropdown -->
                    <li class="nav-item dropdown d-none d-lg-block">
                        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ current_user.name }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user.my_profile') }}" class="dropdown-item">Профиль</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="{{ url_for('user.logout') }}" class="dropdown-item">Выход</a></li>
                        </ul>
                    </li>
                    <!-- Mobile direct links -->
                    <li class="nav-item d-lg-none"><a href="{{ url_for('user.my_profile') }}" class="nav-link">Профиль</a></li>
                    <li class="nav-item d-lg-none"><a href="{{ url_for('user.logout') }}" class="nav-link">Выход</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navigation Bar -->

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container">
        <div class="row my-3">
            <div class="col">
                <ul class="list-group">
                    {% for category, message in messages %}
                    <li class="list-group-item {{ 'list-group-item-danger' if category == 'error' else 'list-group-item-warning' if category == 'warning' else 'list-group-item-info' }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <footer class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col p-4 text-center"> &copy; 2025 Все права защищены</div>
            </div>
        </div>
    </footer>

    {% block js %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {{ moment.include_moment() }}
    {{ moment.locale('ru') }}
    {% endblock %}

</body>
</html>